{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/password-reset.css' %}">

</head>
<body>
    <div class="card text-center centere">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <form method="POST" action="{% url 'accounts:password_reset' %}" data-mdb-input-init class="form-outline"> {% csrf_token %}
                <input type="email" name="email" class="form-control my-3" placeholder="Email">
                <button type='submit' data-mdb-ripple-init class="btn btn-primary w-100">Reset password</button>
            </form>
            
            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'accounts:login' %}">Login</a>
                <a href="{% url 'accounts:signup' %}">Signup</a>
            </div>
        </div>
    </div>
</body>
</html>